@font-face {
  font-family: 'Bebas';
  src: url('/fonts/BebasNeue-Regular.ttf');
}

@font-face {
  font-family: 'JetBrains';
  src: url('/fonts/JetBrainsMono-Regular.ttf');
}

body {
    margin: 0;
}

h1 {
    font-family: 'Bebas';
    text-transform: uppercase;
}
