---
import '../styles/global.css';
const pageTitle = "HAHA About Me";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style>
            body {
                background-image: url('https://storage.googleapis.com/rebeccas_portfolio/images/about/background.jpg');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
                background-position: center;
            }
            h1 {
                line-height: 0.9;
                margin-right: 3%;
                margin-top: 3%;
                font-size: 10vh;
                color: black;
                text-align: end;
            }
            p {
                font-size: 3vh;
                font-family: "JetBrains";
                padding: 10px;
            }
            .content {
                margin-top: 1vh;
                margin-left: 3%;
                margin-right: 3%;
                text-align: end;
                background-color: rgba(217, 217, 217, 0.5);
            }
            .credits {
                margin-top: 0px;
                margin-left: 50px;
                margin-right: 50px;
                background-color: rgba(217, 217, 217, 0.5);
                width: fit-content;

                p {
                    width: fit-content;
                }
            }
        </style>
	</head>
    <body >
        <h1>{pageTitle}</h1>
        <a href="/">Home</a>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a mi vel orci porta congue vitae sit amet enim. Phasellus non dui eget mauris ornare pretium. Ut laoreet posuere augue vel fringilla. Vestibulum vel tortor et dolor dictum pretium sit amet vel elit. Sed a porta arcu. Nullam vitae sagittis odio. Fusce tristique fermentum purus, a auctor metus varius vitae.</p>
            <p>Sed aliquet, libero id pharetra cursus, felis turpis ultricies urna, eget pretium lacus nulla at mauris. Cras sed ex faucibus, efficitur sapien id, pellentesque magna. In hac habitasse platea dictumst. Quisque non urna nec dui condimentum feugiat sit amet lacinia metus. Aenean vehicula nibh commodo tortor elementum ultricies. Maecenas nibh quam, rhoncus eu tempus vel, egestas vitae odio. Donec ac enim ut lectus ornare ullamcorper et id neque. Etiam eu sem nec mi pulvinar pretium vitae id purus. Donec et erat sed ante blandit elementum nec ac nunc. Integer convallis enim laoreet molestie placerat. Etiam porttitor pellentesque suscipit.</p>
        </div>
        <div class="credits">
            <p>Foto by: Elias Bergman</p>
        </div>
    </body>
</html>
