---
import { ViewTransitions } from "astro:transitions";
const pageTitle = "Contact";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <ViewTransitions />
        <title>{pageTitle}</title>
    </head>

    <body>
        <h1>{pageTitle}</h1>
        <div transition:animate={"fade"}>
            <a href="/">Home</a>
        </div>
    </body>
</html>
