---
import circle from "../../icon/circle.svg";
import circle_fill from "../../icon/circle-fill.svg";

const { page_name } = Astro.params;
const { frontmatter } = Astro.props;
var selected = 0;
const background_color = frontmatter.background_color;
const images = frontmatter.images;
const slideshow_style = frontmatter.slideshow_style;

export async function getStaticPaths() {
    function get_pagename_from_filename(filename) {
        return filename.split("/").slice(-1)[0].split(".md")[0];
    }

    const all_galleries = await Astro.glob("../galleries/*.md");

    let paths = all_galleries.map((gallery) => {
        return {
            params: { slide_show: get_pagename_from_filename(gallery.file) },
            props: { frontmatter: gallery.frontmatter },
        };
    });

    return paths;
}
---

<html>
    <style define:vars={{ background_color }}>
        html {
            background-color: var(--background_color);
        }
        .navigation {
            width: 50%;
            height: 3%;

            position: absolute;
            left: 50%;
            top: 90%;
            transform: translate(-50%, 0);

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        button {
            aspect-ratio: 1 / 1;
            margin: 2vw;
            border: none;
            background: none;
        }
        .unselected {
            height: 50%;
        }
        .selected {
            height: 75%;
        }
        img {
            display: block;
            height: 100%;
        }
    </style>
    <div class="navigation">
        {images.map((_, index) => {
            return index == selected ?
                <button class="selected"><img src={circle.src} alt="selected" /></button>
                :
                <button class="unselected"><img src={circle_fill.src} alt="unselected" /></button>
        })}
    </div>

    <script>
        // Find all buttons with the `unselected` class on the page.
        const unselected_buttons = document.querySelectorAll('button.unselected');

        // Handle clicks on each button.
        unselected_buttons.forEach((button) => {
          button.addEventListener('click', () => {
            alert('Unselected button was clicked!');
          });
        });

        // Find all buttons with the `selected` class on the page.
        const selected_buttons = document.querySelectorAll('button.selected');

        // Handle clicks on each button.
        selected_buttons.forEach((button) => {
          button.addEventListener('click', () => {
            alert('Selected button was clicked!');
          });
        });

    </script>
</html>
